/.git/
/.idea/
/.vs/
/source/core/Madot.Core.Application/bin/
/source/core/Madot.Core.Application/obj/
/source/core/Madot.Core.Domain/bin/
/source/core/Madot.Core.Domain/obj/
/database/Madot.Database/bin/
/database/Madot.Database/obj/
/source/shell/Madot.Shell.API/obj/
/source/shell/Madot.Shell.API/bin/
/source/shell/Madot.Shell.CLI/obj/
/source/shell/Madot.Shell.CLI/bin/
/source/shell/Madot.Shell.BlazorWebApp/obj/
/source/shell/Madot.Shell.BlazorWebApp/bin/
/test/Madot.UnitTests/bin/
/test/Madot.IntegrationTests/bin/
/test/Madot.IntegrationTests/obj/
/test/Madot.UnitTests/bin/
/test/Madot.UnitTests/obj/
/database/Madot.Database/bin/Debug/Madot.Database.dacpac
/database/Madot.Database/obj/Debug/Madot.Database.sqlproj.FileListAbsolute.txt
/database/Madot.Database/obj/Debug/Model.xml
/database/Madot.Database/Madot.Database.jfm
/database/Madot.Database/Madot.Database.dbmdl
/source/shell/Madot.Shell.BlazorWebApp/Madot.Shell.BlazorWebApp.csproj.user
/source/shell/Madot.Shell.API/Madot.Shell.API.csproj.user
/database/Madot.Database/bin/Debug/Madot.Database.dacpac
/database/Madot.Database/obj/Debug/Madot.Database.sqlproj.FileListAbsolute.txt
/database/Madot.Database/obj/Debug/Model.xml
