/.git/
/.idea/
/.vs/
/source/core/Badop.Core.Application/bin/
/source/core/Badop.Core.Application/obj/
/source/core/Badop.Core.Domain/bin/
/source/core/Badop.Core.Domain/obj/
/source/infrastructure/Badop.Infrastructure.Database/bin/
/source/infrastructure/Badop.Infrastructure.Database/obj/
/source/infrastructure/Badop.Infrastructure.Storage/obj/
/source/infrastructure/Badop.Infrastructure.Storage/bin/
/source/shell/Badop.Shell.API/obj/
/source/shell/Badop.Shell.API/bin/
/source/shell/Badop.Shell.CLI/obj/
/source/shell/Badop.Shell.CLI/bin/
/source/shell/Badop.Shell.BlazorWebApp/obj/
/source/shell/Badop.Shell.BlazorWebApp/bin/
/test/Badop.UnitTests/bin/
/test/Badop.IntegrationTests/bin/
/test/Badop.IntegrationTests/obj/
/test/Badop.UnitTests/bin/
/test/Badop.UnitTests/obj/
