@using Markdig

@if (_guides is not null)
{
    bool isFirst = true;
    <div class="guide-menu">
    <Tabs NavStyle="NavStyle.VerticalPills">
        @foreach (var guide in _guides)
        {
            var title = guide.GuideVersion.Guide.Title.Length > 25 ? guide.GuideVersion.Guide.Title.Substring(0, 12) + "..." : guide.GuideVersion.Guide.Title;
            var first = isFirst;
            <Tab Title="@title" Active="@first.ToString()">
                <Content>
                    @((MarkupString)Markdown.ToHtml(guide.GuideVersion.Data))
                </Content>
            </Tab>
            isFirst = false;
        }
    </Tabs>
    </div>
}