@rendermode InteractiveAuto

@if (Api is not null && _versions is not null)
{
    <div class="api-header">
        <div class="api-title">
            @Api.DisplayName
        </div>
        <div class="version-holder">
            <label>Choose Version:</label>
            <select id="" @onchange="VersionChanged">
                @foreach (var version in _versions.OrderBy(x => x.MajorVersion).ThenBy(x => x.MinorVersion))
                {
                    var isSelected = (SelectedVersion == version.Id);
                    var displayText = $"{version.MajorVersion}.{version.MinorVersion}";
                    if (version.IsBeta)
                        displayText = displayText + " (beta)";
                    <option id="@version.Id" selected="@isSelected.ToString()">@displayText</option>
                }
            </select>
        </div>
    </div>
}
