.page {
    display: block;
    width: 100%;
    height: 100%;
}

main {
    flex: 1;
}

.sidebar {
    background-color: lightgrey;
    float:left;
    height:100vh;
    width: 15rem;
}

.top-row {
    background-color: #C3E5EE;
    border-bottom: 1px solid grey;
    height: 3.5rem;
    width:100%;
    padding-left: 0.5rem !important;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
.content {
    height: 100%;
    border-left: 1px solid grey;
}


.logo-container {
    display: block;
    padding-left: 0;
    float: left;
    height: 100%;
}

#logo {
    height: 100%;
}

