@if (_staticPages is not null)
{
    <div class="static-section">
        @foreach (var staticPage in _staticPages)
        {
            var link = $"/static-page/{staticPage.Id}";
            <div class="madot-menuitem">
                <div class="madot-menuitem-icon">
                    <Icon Name="IconName.ChevronRight"/>
                </div>
                <NavLink href="@link" Match="NavLinkMatch.All">@staticPage.Title</NavLink>
            </div>
        }
    </div>
}