@rendermode InteractiveServer
<div class="container-sm">
    <input id="api-filter" class="form-text" type="text" @oninput="ApiFilterChange"  placeholder="Search APIs..." aria-label="Search APIs" />
</div>
<div class="nav-scrollable">
    @if (_apis is null)
    { 
        <em>Loading...</em>
    }
    else
    {
        foreach (var api in _apis)
        {
            var link = $"api/{@api.Id}"; 
            <div class="nav-item">
                <NavLink class="nav-link api-item" Match="NavLinkMatch.Prefix" href="@link">@api.DisplayName</NavLink>
            </div>
        }
    }
</div>