<div class="ps-3 navbar-dark">
    <div class="logo-container">
        <image id="logo" src="madot.jpg"/>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
        </div>

        <div class="nav-item px-3">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
        </div>

        <div class="nav-item px-3">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
        </div>
    </nav>
</div>
<div class="rounded container separator"></div>
<ApiList/>